# site folders
**/

# tools
!.chest/
!gulp/
!gulp/tasks/
!gulp/pipes/

# temp
.coverdata/
/.coverrun

# logs
/npm-debug.log

# chest
/bower.json
/build.js
/gulpfile.js
/package.json
/.editorconfig
/.bowerrc
/.jshintrc
/chest.json
